<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nacho Lorenzo">
    <link rel="icon" href="../../favicon.ico">

    <title>Zapatos Bernini</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/signin.css" %}" rel="stylesheet">

</head>

<body>
</br>
</br>
<div class="container">
    <h2 class="form-signin-heading">GRACIAS POR SU COMPRA</h2>
</div> <!-- /container -->

</body>
</html>
