﻿{% extends "index.html" %}

{% block content %}

    <div class="" style="
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    background-color: #444;
    color: #eee;
    padding: 3px;
    text-align: center;"><h1> Elige que zapatos quieres añadir </h1></div>
    <input type="hidden" id="hddnDatos" value="">
    <div class="panelform text-center">
        <div class="input-group" style="margin:auto;">
            <select class="form-control" id="CBZapatos" style="color: #222;" multiple>
                {% for zapato in listaZapatos %}
                        <option value="{{ zapato.id }}">{{ zapato.marca }} - talla: {{ zapato.talla }} - precio: {{ zapato.precio }}</option>
                    {% endfor %}
            </select>
        </div>
    </br>
    </br>
<div>
        <input id="comprar" class="btn btn-success" type="submit" value="Comprar"
               style="display: block; margin: auto;color: #fefefe;"/>
    </div>
    </div>


<script type="text/javascript">
        $(document).ready(function () {
            $('#comprar').click(function () {
                var hddnDatos = document.getElementById("hddnDatos").value;
                 if (hddnDatos === '') {
                     alert('Debes seleccionar algún zapato');
                     return;
                 }
                hddnDatos = hddnDatos.substring(0, hddnDatos.length - 1);
                window.location = '/finalizado/'+ hddnDatos;
            });
        });

         $(document).ready(function () {
            $('#CBZapatos').multiselect({
                enableFiltering: true,
                maxHeight: 500,
                nonSelectedText: 'Seleccione uno o más zapatos',
                nSelectedText: 'Seleccionados',
                allSelectedText: 'Todos Seleccionados',
                numberDisplayed: 1,
                maxWidth: 500,
                includeSelectAllOption: true,
                selectAllText: ' Seleccionar todos',
                buttonWidth: 332,
                onDropdownHidden: function (event) {
                    getValueCBZapatos();
                },
                filterPlaceholder: 'Buscar...'
            });
        });
    </script>
{% endblock %}