<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Zapatos Bernini</title>
    <link type="text/css" rel="stylesheet" href="/static/css/styleindex.css"/>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico">
    <script src="/static/js/jquery.maskedinput.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/styleinforme.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>

</head>
<body>
<a name="about"></a>

<div class="container" style="width: 100% !important;">
    {% block content %}
    {% endblock %}

</div>
<script src="/static/js/classie.js"></script>
<script src="/static/js/gnmenu.js"></script>
<script type="text/javascript" src="/static/js/card-depth.js"></script>

<script>
    console.log('{{ mensaje }}');
    {% if mensaje %}
        alert('{{ mensaje }}');
    {% endif %}
</script>
<script type="text/javascript" src="/static/js/script.js"></script>

</body>
</html>
