<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nacho Lorenzo">
    <link rel="icon" href="../../favicon.ico">

    <title>Zapatos Bernini</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/signin.css" %}" rel="stylesheet">

</head>

<body>
</br>
</br>
<div class="container">
    <form class="form-signin" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Inicia sesión</h2>
        <input class="form-control" type="text" id="username" name="username" placeholder="Usuario de acceso" style="width: 330px;">
        <input class="form-control" type="password" name="password" id="password" placeholder="Contraseña de acceso" style="margin-top: -10px;width: 330px;">
        <button class="btn btn-primary btn-block" type="submit" style="height: 45px; font-size : 18px;">Entrar</button>
    </form>
</div> <!-- /container -->

</body>
</html>
